<!doctype html>


<html lang="en" class="no-js">
<head>
	<title>Charicen</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Montserrat:300,400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic' rel='stylesheet' type='text/css'>
	
	
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" media="screen">	
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/style.css" media="screen">

</head>
<body>

	<!-- Container -->
	<div id="container">
		<!-- Header
		    ================================================== -->
		<header class="clearfix">
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="top-line">
					<div class="container">
						<div class="row">
							<div class="col-md-8">
								<ul class="info-list">
									<li>
										<i class="fa fa-globe"></i>
										Language: <span>English</span>
									</li>
									<li>
										<i class="fa fa-phone"></i>
										Call us:
										<span>+1 223 334 3434</span>
									</li>
									<li>
										<i class="fa fa-clock-o"></i>
										working time:
										<span>08:00 - 19:00</span>
									</li>
								</ul>
							</div>	
							<div class="col-md-4">
								<ul class="social-icons">
									<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
									<li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
									<li><a class="dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
								</ul>
							</div>	
						</div>
					</div>
				</div>
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="index.html"><img src="images/logo.png" alt=""></a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li><a class="active" href="index.html">Home</a></li>
							<li><a href="about.html">About</a></li>
							<li><a href="services.html">Donations</a></li>
							<li><a href="blog.html">blog</a></li>
							<li><a href="contact.html">Contact</a></li>
							<li class="search"><a href="#" class="open-search"><i class="fa fa-search"></i></a>
								<form class="form-search">
									<input type="search" placeholder="Search:"/>
									<button type="submit">
										<i class="fa fa-search"></i>
									</button>
								</form>
							</li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>
		</header>
		<!-- End Header -->

		<!-- page-banner-section 
			================================================== -->
		<section class="page-banner-section">
			<div class="container">
				<h1>Donations</h1>
			</div>
		</section>
		<!-- End page-banner section -->

		<!-- services-section 
			================================================== -->
		<section class="services-section">
			<div class="services-box">
				<div class="container">
					<div class="row">

						<div class="col-md-4">
							<div class="services-post">
								<img src="upload/others/1.jpg" alt="">
								<div class="services-content">
									<h2><a href="services-single.html">Help & Support</a></h2>
									<p>Our Leadership workshops are key critical success factors for your program. Our Executive, Champion, Financial and HR Workshops, are specifically .</p>
									<ul class="serv-links">
										<li><a href="#">Aliquam tincidunt mauris eu risus</a></li>
										<li><a href="#">Vestibulum auctor</a></li>
										<li><a href="#">Nunc dignissim risus id metus</a></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="services-post">
								<img src="upload/others/2.jpg" alt="">
								<div class="services-content">
									<h2><a href="services-single.html">Adoption</a></h2>
									<p>Our Leadership workshops are key critical success factors for your program. Our Executive, Champion, Financial and HR Workshops, are specifically .</p>
									<ul class="serv-links">
										<li><a href="#">Aliquam tincidunt mauris eu risus</a></li>
										<li><a href="#">Vestibulum auctor</a></li>
										<li><a href="#">Nunc dignissim risus id metus</a></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="services-post">
								<img src="upload/others/3.jpg" alt="">
								<div class="services-content">
									<h2><a href="services-single.html">Volunteering</a></h2>
									<p>Our Leadership workshops are key critical success factors for your program. Our Executive, Champion, Financial and HR Workshops, are specifically .</p>
									<ul class="serv-links">
										<li><a href="#">Aliquam tincidunt mauris eu risus</a></li>
										<li><a href="#">Vestibulum auctor</a></li>
										<li><a href="#">Nunc dignissim risus id metus</a></li>
									</ul>
								</div>
							</div>
						</div>

					</div>
					<div class="row">

						<div class="col-md-4">
							<div class="services-post">
								<img src="upload/others/8.jpg" alt="">
								<div class="services-content">
									<h2><a href="services-single.html">School Based Programs</a></h2>
									<p>Our Leadership workshops are key critical success factors for your program. Our Executive, Champion, Financial and HR Workshops, are specifically .</p>
									<ul class="serv-links">
										<li><a href="#">Aliquam tincidunt mauris eu risus</a></li>
										<li><a href="#">Vestibulum auctor</a></li>
										<li><a href="#">Nunc dignissim risus id metus</a></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="services-post">
								<img src="upload/others/9.jpg" alt="">
								<div class="services-content">
									<h2><a href="services-single.html">Help Orphans</a></h2>
									<p>Our Leadership workshops are key critical success factors for your program. Our Executive, Champion, Financial and HR Workshops, are specifically .</p>
									<ul class="serv-links">
										<li><a href="#">Aliquam tincidunt mauris eu risus</a></li>
										<li><a href="#">Vestibulum auctor</a></li>
										<li><a href="#">Nunc dignissim risus id metus</a></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="services-post">
								<img src="upload/others/10.jpg" alt="">
								<div class="services-content">
									<h2><a href="services-single.html">Children Donors</a></h2>
									<p>Our Leadership workshops are key critical success factors for your program. Our Executive, Champion, Financial and HR Workshops, are specifically .</p>
									<ul class="serv-links">
										<li><a href="#">Aliquam tincidunt mauris eu risus</a></li>
										<li><a href="#">Vestibulum auctor</a></li>
										<li><a href="#">Nunc dignissim risus id metus</a></li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>

			</div>
		</section>
		<!-- End services section -->

		<!-- subcribe-section 
			================================================== -->
		<section class="subcribe-section">
			<div class="container">
				<div class="title-section white">
					<h1>Subscribe to our news letter</h1>
				</div>
				<form class="subscribe">
					<input type="text" name="name-subs" id="name-subs" placeholder="name"/>
					<input type="text" name="email-subs" id="email-subs" placeholder="your email address"/>
					<input type="submit" id="submit-subscribe" value="subscribe"/>
				</form>
				<p>Please contact us if you want to do charity through the mailbox.</p>
			</div>
		</section>
		<!-- End subscribe section -->

		<!-- footer 
			================================================== -->
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="contact-info">
							<h2><i class="fa fa-location-arrow"></i> Our Address</h2>
							<p>Your Company Name JSC1332 Your Street,</br>City World, US49 Chameleon, CA.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="contact-info">
							<h2><i class="fa fa-envelope-o"></i> Contact Us</h2>
							<p>+1 223 334 3434 <br> info@yourcompany.com</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="contact-info">
							<h2><i class="fa fa-clock-o"></i> Office hours</h2>
							<p>Monday to Friday: 8:00 - 19:00 <br> Saturday, Sunday: 9:00 - 14:00</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- End footer -->

	</div>
	<!-- End Container -->
	
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.migrate.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/jquery.imagesloaded.min.js"></script>
	<script type="text/javascript" src="js/retina-1.1.0.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>

</body>
</html>