@CHARSET "UTF-8";

a{
	cursor:pointer;
}

.navbar-sags{
	background-color: #EEF;
}

.navbar-test{
	background-color: #ff8000;
}

.login-span{
	font-family: "Trebuchet MS";
	font-size: 11px;
}

.main-container{
	padding-right: 10px;
	padding-left: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
}

.main-container-report{
	padding-right: 10px;
	padding-left: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

.middle-content{
	margin-top:10px;
}

.left-action-bar{
    margin-top:10px;
    border-right-style:solid;
    border-right-width:1px;
    border-right-color:#EEF;
}
.left-action-bar ul{
    list-style:none;
}
.left-action-bar li{
    padding-bottom:5px;
}
.left-action-bar a:hover{
    color: Gray;
}

.menu-title{
    margin-left:6px;
}

.action-horizontal-menu{
	
}

.login-middle{
    margin-top:30px;
    margin-bottom:30px;
    padding-top:30px;
    padding-bottom:30px;
    padding-left:auto;
    padding-right:auto;
    border-style:solid;
    border-color:#EEF;
}
.marg-left{
	margin-left:8px;
}

.right-border{
	border-right-style:solid;
	border-right-width:2px;
	border-right-color:#EEF;
}

.footer-section{
	font-family: "Trebuchet MS";
	font-size: 11px;
}

.footer-hr{
	color:#EEF;
	padding-bottom:5px;
}

.red_letters { 
	color:#FF0000;
}

.event-row {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #EEEEEE;
}

.event-row:hover{
	background-color: #DDDDDD;
}

#cart-info{
	margin-top: 30px;
	font-size: 16px;
}

.report-select{
	min-width: 300px;
	font-size: 18px;
}

.frame-section{
	border-width: 0px;
	margin-top: 10px;
	width: 100%;
	margin-left: 20px;
	overflow-x:hidden;
}

.table-min-td-size td{
	min-width: 80px;
	text-align: center;
}

.form-control{
	float:left !important;
	width: 70% !important;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
